# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build
dist/
build/
.out/

# Logs
*.log

# OS noise
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Temporary / misc
*.tmp
*.swp
